body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: #f5f5f5;
    color: #000;
    box-sizing: border-box;
    padding: 0;
}

p {
    margin: 0;
}

.page {
    max-width: 650px;
    margin: 40px auto;
    background: #fff;
    border: 3px solid #000;
    padding: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.divider {
    width: 100%;
    max-width: 400px;
    height: 3px;
    background: #000;
    border-radius: 10px;
}

.cv {
    margin-top: 35px;
}

.divider {
    width: 400px;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
}

.intro__name {
    font-size: 25px;
    margin: 0 0 6px 0;

}

.intro__role {
    color: #3baf3b;
    margin: 0 0 20px 0;
}

.intro__contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-style: normal;
}

.intro__contacts a {
    color: inherit;
    text-decoration: none;
}

.cv-section {
    margin-top: 35px;
}

.cv-section__title {
    font-size: 20px;
    color: #3baf3b;
    margin-bottom: 10px;
}

.cv-section__content {
    margin: 0;
}

.education__place {
    font-size: 18px;
    color: #1372cf;
    margin: 0;
}

.education__degree,
.education__period {
    margin: 5px 0;
}

.education__courses,
.education__certificates {
    padding-left: 20px;
    margin: 10px 0;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-bottom: 5px;
}

.links a {
    color: #1372cf;
    text-decoration: none;
}
