*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}
.container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}
.tabs-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tabs-content {
    width: 100%;
    height: 40%;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.tab {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1.5rem;
}

.underline {
    width: 100%;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.tab:hover {
    transform: scale(1.1);
}

.tab:hover .underline {
    transform: scaleX(1);
}
