*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

#myTextarea {
    width: 100%;
    padding: 10px;
    height: 100px;
    font-size: 0.8rem;
}

#count-display {
    text-align: right;
    font-size: 0.875rem;
    color: #555;
    padding: 5px 0;
}
.error {
    border-color: red !important;
    outline-color: red !important;
}

#main-text {
    font-size: 1.5rem;
}