* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
    color: #757474;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.changelog-container {
    height: 740px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 40px;
    justify-content: space-between;

}
.changelog-components {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.component {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: flex-end;
}
.line, .line-end {
    width: 1px;
    height:40px;
    border: 1px solid black;
    background-color: black;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: black;
    margin-left: -8px;
}
.dates-container {
    color: #757474;
    width:160px;
}
.changelog-header {
    text-align: center;
}
.line-end {
    margin-left: 168px;
}
button {
    padding: 14px 30px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
}
.dots-lines-container {
    width: 5%;
}
.commits-container {
    width: 70%;
}